@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Roboto:ital,wdth,wght@0,75..100,500;1,75..100,500&display=swap');
.intro-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.particles-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.intro-container {
  position: relative;
  z-index: 1;
  height: 100vh;
  color: #00ffcc;
  font-family: "Bitcount Single", system-ui;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  bottom: 60px;
}


