.typing-box {
  font-size: clamp(1.3rem, 5.5vw, 2.8rem);
  color: #00ffcc;
  white-space: nowrap;
  font-family: "Bitcount Single", "Inter", sans-serif;
}

.cursor {
  animation: blink 0.8s infinite;
  margin-left: 5px;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
